{% extends 'base.html' %}

{% block title %}
    Send @mail : {{ block.super }}
{% endblock %}

{% block container %}
  <div class='p-3 text-warning border border-primary-subtle rounded-3 container mt-3 text-center' style="background-color: #006064;">
      <h1>{{ title }}</h1>
      <hr>
      <div class="row">
{% endblock %}

{% block card %}
    <h1><div class='text-warning-emphasis'>Send Email</div></h1>
    <br>

      <center>
      <form method="post">
        {% csrf_token %}

        <div class="col-md-3 text-info">
          {{ form.as_p }}
        </div>

        <br>
        <button type="submit" class="btn btn-success btn block">Send</button>
      </form>
      </center>
{% endblock %}